<div class="board" style="width:{{this.width}}px;height:{{this.height}}px">
  {{#each board.board as |row ri|}}
    {{#each row as |col ci|}}
      <MapBlock
        @size={{@blockPx}}
        @value={{col}}
        @bomb={{action 'bomb' ri ci}}
      />
    {{/each}}
  {{/each}}
</div>
